<p id="notice"><%= notice %></p>

<h1>Listing Songs</h1>

<table class="mdl-data-table mdl-js-data-table">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Title</th>
      <th class="mdl-data-table__cell--non-numeric">Artist</th>
      <th class="mdl-data-table__cell--non-numeric">Word</th>
      <th class="mdl-data-table__cell--non-numeric">Lyrics</th>
      <th>Used</th>
      <th>Winner</th>
      <th>Youtube</th>
      <th>Youtube start time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric mdl-data-table--selectable"><%= song.title %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= song.artist %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= song.word %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= highlight(simple_format(excerpt(song.lyrics, song.word, radius: 75)), song.word) %></td>
        <td><%= song.used %></td>
        <td><%= song.winner %></td>
        <td><%= link_to(song.youtube_id, song.youtube_url, target: "_blank") %></td>
        <td><%= song.youtube_start_time %></td>
        <td><%= link_to 'Show', song %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path %>
