<p id="notice"><%= notice %></p>

<p>
  <%= link_to 'Edit', edit_song_path(@song) %> |
  <%= link_to 'Back', songs_path %>
</p>

<section>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @song.youtube_id %>?start=<%= @song.youtube_start_time %>" frameborder="0" allowfullscreen></iframe>
</section>

<section>
  <h2><%= @song.title %></h2>
  <h3><%= @song.artist %></h3>
</section>

<p>
  <strong>Keyword:</strong>
  <span class="keyword"><%= @song.word %></span>
</p>

<p>
  <%= highlight(simple_format(@song.lyrics), @song.word) %>
</p>

<p>
  <strong>Used:</strong>
  <%= @song.used %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @song.winner %>
</p>
