<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @song.artist %>
</p>

<p>
  <strong>Word:</strong>
  <%= @song.word %>
</p>

<p>
  <strong>Lyrics:</strong>
  <%= highlight(simple_format(@song.lyrics), @song.word) %>
</p>

<p>
  <strong>Used:</strong>
  <%= @song.used %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @song.winner %>
</p>

<p>
  <strong>Youtube:</strong>
  <%= @song.youtube_id %>
</p>

<p>
  <strong>Youtube start time:</strong>
  <%= @song.youtube_start_time %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
